.New_Loan_Container{
    background-color: rgb(195, 194, 194);
}
.LOAN_HEAD{
background-color:black;
color: azure;
font-size: 70px;
font-family: 'Times New Roman', serif;
/* font-family: 'Courier New', monospace; */
/* text-transform: uppercase; */
/* font-family: 'Arial', sans-serif; */

}